@model List<ProyectoWeb.Entities.CitaEnt>

@{
    ViewData["Title"] = "ConsultarCitas";
    Layout = "~/Views/Shared/_Layout_Administracion.cshtml";
}

<div class="col-lg-10 mx-auto">
    <div class="text-center">
        <h1>Lista de Citas realizadas por los clientes</h1>
    </div>

    <br />
    <div class="mt-3 row w-100 mx-0 col-lg-4">
        <a class="btn btn-dark text-white rounded" href="@Url.Action("RegistrarCitas", "Citas")">Agregar Cita a cliente</a>
    </div>
    <br />
    <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0 col-lg-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>TipoCita</th>
                        <th>FechaHora</th>
                        <th>IdUsuario</th> @*//REALIZAR UN DROPDOWN PARA MOSTAR EL NOMBRE DEL USUARIO EN VEZ DEL ID*@
                        <th>Estado</th>
                        <th>Actualizar Estado</th>
                        <th>Actualizar Cita</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var descuentos in Model)
                    {
                        <tr>
                            <td>@descuentos.TipoCita</td>
                            <td>@descuentos.FechaHora</td>
                            <td>@descuentos.IdUsuario</td>
                            @if (@descuentos.estado)
                            {
                                <td>Activo</td>
                            }
                            else
                            {
                                <td>Inactivo</td>
                            }
                            <td style="text-align:center"><a href="@Url.Action("ActualizarEstadoCita","Citas", new { q = descuentos.IdCita })"><i class="fa fa-exchange fa-lg"></i></a></td>
                            <td style="text-align:center"><a href="@Url.Action("ActualizarCita","Citas", new { id = descuentos.IdCita })"><i class="fa fa-pencil fa-lg"></i></a></td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>